footer.footer{
	background-color:#FFD700;
	padding: 15px;
}

a:link {
  color: #525252;
}

a:visited {
  color: #525252;
}

a:hover {
  color: #ffb92f;
}

a:active {
  color: #525252;
}

#icons{
	width:60px;
    height: auto;
}
