/* 
Latest Update: Added documentation 
Name: footer.css
Purpose: CSS for the footers on all the pages, formats the colors, icons, font size, links
Version: 2.6 (Fix footer CSS formatting) | quarter.week (git commit message)
Date: May 16, 2020
Contributors: Joey Huang
 */

footer.footer{
	background-color:#FFD700;
	padding: 15px;
}

a:link {
  color: #525252;
}

a:visited {
  color: #525252;
}

a:hover {
  color: #ffb92f;
}

a:active {
  color: #525252;
}

#icons{
	width:60px;
    height: auto;
}

#footerInfo{
  font-size: 11px; 
  color: #525252;
}