/* 
Latest Update: Added documentation 
Name: footer.css
Purpose: CSS for all the pages, formats the titles, text, navigation bar, cards
Version: 2.6 (Update formatting) | quarter.week (git commit message)
Date: May 16, 2020
Contributors: Joey Huang, Ao Wang
 */
 
#navMenu{
	font-size: 17px; 
	font-family: 'Manrope', sans-serif
}

.tabs{
	font-size: 18px; 
	font-family: 'Manrope', sans-serif
}

.title{
	font-family: 'Manrope', sans-serif	

}

#webHeader{
	font-size: 60px; 
	font-family: 'Raleway', sans-serif;
}
.content{
	font-family: 'Quicksand', sans-serif;
}

#subtitle {
	font-size: 17px; 
}
.card-image {
  padding: 25px 10px 10px 15px;
}

#links{
    text-decoration: none;
}