* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#grid {
	margin-left: 0;
	margin-right: 0;
	font-family: 'Trebuchet MS';
	text-align: center;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  -ms-flex: 33%; /* IE 10 */
  flex: 33%;
  padding: 0 4px;
}

.container:hover .image {
  opacity: 0.3;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 50%;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}
